* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #845ec2, #daa1e2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

.title-bar {
  display: flex;
  align-items: center;
  height: max-content;
  width: 98%;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 2;
  backdrop-filter: blur(0.5rem);

  border-radius: 1vw;
  text-align: left;
  padding: 0.5% 2.5%;

  position: absolute;
  top: 1.5%;

  color: #29a87e;
  font-family: Verdana, sans-serif;
  font-size: 1vw;
  font-weight: bold;
}

.heart1,
.heart2,
.heart3,
.heart4 {
  background: linear-gradient(
    to right bottom,
    rgb(255, 111, 145, 1),
    rgba(233, 193, 202, 0.233)
  );

  position: absolute;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.heart1 {
  top: -3%;
  left: 80%;
  font-size: 25vw;
}

.heart2 {
  top: 50%;
  left: 70%;
  font-size: 30vw;
}

.heart3 {
  top: 20%;
  left: 60%;
  font-size: 28vw;
}

.heart4 {
  top: 30%;
  left: 85%;
  font-size: 28vw;
}

.mid-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  border-radius: 1.5%;

  padding: 2vh 0.5vw;
  width: 80vw;
  height: 75vh;

  background: linear-gradient(
    to right bottom,
    rgba(255, 161, 183, 0.8),
    rgba(255, 161, 183, 0.2)
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.1rem);
  border-radius: 5%;

  flex: 1 0 31%;

  width: 30%;
  height: 50%;

  margin: 0.5%;
}

.image {
  width: 95%;
  height: 95%;
  border-radius: inherit;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.5rem);
  border-radius: 1vh;
}

.button-container {
  margin: 2vh;
  padding: 2vh 0;
}

.button {
  border: none;
  width: 10vw;
  background: linear-gradient(
    to right bottom,
    rgb(253, 150, 113, 0.3),
    rgba(253, 150, 113, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  border-radius: 0.5vw;

  color: #29a87e;
  font-family: Verdana, sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 98%;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 2;
  backdrop-filter: blur(0.5rem);

  position: absolute;
  bottom: 1.25%;

  border-radius: 0.5vw;
  text-align: left;
  padding: 0.5% 2%;
  margin-top: 2rem;
  color: #29a87e;
  font-family: Verdana, sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
}
